$clr-100: #ffffff;
$clr-300: #ffce67;
$clr-500: #fd6687;
$clr-700: #7945ff;
$clr-800: #5c2dd5;
$clr-900: #000000;

$ft-xs: 1.6rem;
$ft-s: 2rem;
$ft-m: 2.4rem;
$ft-l: 5.6rem;

$lh-xs: 2.1rem;
$lh-s: 2.6rem;
$lh-m: 3.1rem;
$lh-l: 7.1rem;

$border-rad: 2rem;
